[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
ipykernel = "*"
tox = "*"
jinja2 = "*"
pytest = "*"
sphinx = "*"
rope = "*"
jupyter-core = "*"
rstcheck = "*"

[packages]
cython = "*"
numpy = "*"
cysignals = "*"
cypari2 = "*"
gmpy2 = "==2.1.0b5"
psutil = "*"
pexpect = "*"
ipython = "*"
sympy = "*"
scipy = "*"
pplpy = "*"
matplotlib = "*"
cvxopt = "==1.2.5"
rpy2 = "*"
networkx = "*"
six = "*"
pkgconfig = "*"
ipywidgets = "*"

[packages.fpylll]
version = "*"
sys_platform = "== 'darwin'"

[packages.1a43973]
file = "https://files.pythonhosted.org/packages/2c/6b/aaab3357e133e522c4ff335a5c868e4179d5dbc6aa099e282d89028681ec/fpylll-0.5.2dev.tar.gz#egg=fpylll"
sys_platform = "== 'linux'"

[packages.8c46424]
path = "./../build/pkgs/sage_conf/src"
editable = true

[packages.e1839a8]
path = "."
editable = true
