[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
ipykernel = "*"
tox = "*"
jinja2 = "*"
pytest = "*"
sphinx = "*"
rope = "*"
jupyter-core = "*"
rstcheck = "*"

[packages]
cython = "*"
numpy = "*"
cysignals = "*"
cypari2 = "*"
gmpy2 = "==2.1.0b5"
psutil = "*"
pexpect = "*"
ipython = "*"
sympy = "*"
scipy = "*"
pplpy = "*"
matplotlib = "*"
cvxopt = "==1.2.5"
rpy2 = "*"
networkx = "*"
fpylll = "==0.5.2dev"
six = "*"
pkgconfig = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"

[packages.8c46424]
path = "./../build/pkgs/sage_conf/src"
editable = true

[packages.e1839a8]
path = "."
editable = true
