[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pkgconfig = "*"
cython = "*"
pycodestyle = "*"
ipykernel = "*"
tox = "*"
jinja2 = "*"
pytest = "*"
ipywidgets = "*"
sphinx = "*"
rope = "*"

[packages]
numpy = "*"
cysignals = "*"
cypari2 = "*"
gmpy2 = "==2.1.0b5"
psutil = "*"
pexpect = "*"
ipython = "*"
sympy = "*"
scipy = "*"
pplpy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
