*.o
*.lo
*.la
*.so
*.dylib

/*.m4
/autom4te.cache
/ar-lib
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp*
.deps
.libs
Makefile
Makefile.in

# for old scons artifacts
*.os
.sconsign.dblite
