*.os
*.so
*.dylib
.sconsign.dblite

/depcomp
/*.m4
/m4
!/m4/am_check_python_headers.m4
Makefile.in
Makefile

/autom4te.cache/
/config.guess
/config.h.in
/config.sub
/configure
/install-sh
/ltmain.sh
/missing

*~
